
   .women{
      background:rgba(0,0,0,0.5) url('../../../Assets/women-fashion.jpg');
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      height: 400px;
   }

   .men{
      background:rgba(0,0,0,0.5) url('../../../Assets/men-fashion.jpg');
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      height: 400px;

   }

   .heels{
      background:rgba(0,0,0,0.5) url('../../../Assets/heels.jpg');
      background-position: right;
      object-position: fit-content;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      background-size: cover;
      height: 400px;
   }

   .frame {
      margin: auto;
      width: 290px;
      margin-top: 230px;
      color: #ffff; 
   }

   .buttonshop{
      font-size: 13px;
      padding: 5px;
      margin-left: 0px;
      background-color: #ffffff;
      color: black;
      border: 1.4px solid #ffffff;
      width: 125px;
      height: 45px;
      font-weight: bold;
   }
   .buttonshop:hover 
{
    background-color: black;
    color: #ffffff;
    border-color: black;
}