
/* Section 1 Navbar Starts  */

.navbar{
    background-color: hsl(188, 100%, 37%, .3);  
  
}
.navbar-brand{
    
    margin-right: 20px;
    margin-left: 15px;
    width: 120px;
    height: 40px;
    background-image: url(../../Assets/Brand-logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-link{
    color: #ffff;
    padding: 12px;
    font-weight: 900;
}
.nav-cart{
    display: none;
    margin-right: 13px;
}
.nav-cart-count{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: -18px;
    border-radius : 25px;
    font-size: 10px;
    background-color: #ffffff;
    color: black;
}
.navbar-toggler{
    background-color: black;
}
.navbar-toggler-icon{
    background-color: #e2e2e2;
}

button{
    width: 60px;
}
#person{
    display: none;
}
/* Section 1 Navbar Ends */

/* Section 2 Main Page Starts */

.home-img{
    width: 100%;
    height: 685px;
    background-color: black;
    background-image: url(../../Assets/girl-img-home.avif);
    background-size: 125%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Banner Starts  */

.banner{
    width: 650px;
    height: 350px;
    /* background-color: hsl(188, 100%, 37%, .3); */
    opacity: 1px;
    margin: 100px;
    font-family:'Lato', sans-serif; ;
    padding: 25px;
    color: #ffffff;
}
.banner h1{
    font-size: 56px;
}
.banner p{
    font-size: 25px;
    padding: 25px 0px 25px ;
}

/* Banner Ends */

/* Buttons  Starts*/

.button1{
    font-size: 15px;
    padding: 5px;
    margin-left: 0px;
    background-color: #ffffff;
    color: black;
    border: 1.4px solid #ffffff;
    width: 125px;
    height: 45px;
}
.button1:hover 
{
    background-color: black;
    color: #ffffff;
    border-color: black;
}

.button2 {
    font-size: 15px;
    padding: 10px;
    margin-left: 25px;
    background-color: hsl(188, 100%, 37%, .3);
    color: #ffffff;
    border: 1.4px solid #ffffff;
    width: 125px;
    height: 42px;
}
.button2:hover{
    background: black;
    border-color:hsl(188, 100%, 37%, .3) ;
}
/* Buttons  Ends*/
/* Section 2 Main Page Ends */

@media (max-width: 990px) {
    .nav-cart{
        display: block;
    }
    .navbar{
        background-color: #ffff;  
        
    }
    .navbar-brand{
        
        margin-right: 20px;
        margin-left: 15px;
        width: 120px;
        height: 40px;
        background-image: url(../../Assets/Brand-logo-black.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
  

    #person{
        display: block;
    }
    
    #hamhide{
    display: none;

    }

    #menu2,#person{
        background-color: #ffff;
        border: solid 0.1px black;
       padding: 20px;
    }
    li#menu2 ,li#person {
         background-color: #e2e2e2
    }
    #black{
        color: black;

    }
    .nav-cart-count{
        color: #ffffff;
        background-color: black;
    }
   
    
  }

  @media (min-width: 600px) {

    .navbar{
        width: 100%;
    }


  }