
/* Section 1 Navbar Starts  */

.navbar{
    background-color: hsl(188, 100%, 37%, .3);  
    padding: 25px 25px 25px 0px;
}
.navbar-brand{
    
    margin-right: 20px;
    margin-left: 25px;
    width: 120px;
    height: 40px;
    background-image: url(../../Assets/Brand-logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.nav-link{
    color: #ffff;
    padding: 12px;
    font-weight: 900;
    font-family:'Lato', sans-serif;
}
.nav-cart{
    display: none;
    margin-right: 13px;
}
.nav-cart-count{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: -18px;
    border-radius : 25px;
    font-size: 10px;
    background-color: #ffffff;
    color: black;
}
.navbar-toggler{
    background-color: black;
}
.navbar-toggler-icon{
    background-color: #e2e2e2;
}

#person{
    display: none;
}
/* Section 1 Navbar Ends */

/* Section 2 Main Page Starts */

.box{
    padding-top: 120px;
    margin-left: 120px;
}
.home-img{
    width: 100%;
    height: 105vh; 
    background-image: url(../../Assets/girl-img-home.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* Banner Starts  */

.banner{
    height: 350px;
    opacity: 1px;
    font-family:'Lato', sans-serif; 
    color: #ffffff;
}
.rain {
width: 500px;
}
.banner h1{
    font-size: 56px;
}
.banner p{
    font-size: 25px;
    padding: 25px 0px 25px ;
}

/* Banner Ends */

/* Buttons  Starts*/

.button1{
    font-size: 15px;
    padding: 5px;
    margin-left: 0px;
    background-color: #ffffff;
    color: black;
    border: 1.4px solid #ffffff;
    width: 125px;
    height: 45px;
}
.button1:hover 
{
    background-color: black;
    color: #ffffff;
    border-color: black;
}

.button2 {
    font-size: 15px;
    padding: 10px;
    margin-left: 25px;
    background-color: hsl(188, 100%, 37%, .3);
    color: #ffffff;
    border: 1.4px solid #ffffff;
    width: 125px;
    height: 45px;
}
.button2:hover{
    background: black;
    border-color:hsl(188, 100%, 37%, .3) ;
}
/* Buttons  Ends*/
/* Section 1 Main Page Ends */

/* Media Query Large Size */

@media (max-width: 990px) {
/* Navbar starts */
    .nav-cart{
        display: block;
    }
    .navbar{
        background-color: #ffff;  
        
    }

    #person{
        display: block;
    }
    
    #hamhide{
    display: none;

    }

    #menu2,#person{
        background-color: #ffff;
        border: solid 0.1px black;
        padding: 20px;
    }
    li#menu2 ,li#person {
         background-color:  #e2e2e2;  
      
    }
   
    #black{
        color: black;

    }
   
    .navbar-brand{
        
        margin-right: 20px;
        margin-left: 15px;
        width: 120px;
        height: 40px;
        background-image: url(../../Assets/Brand-logo-black.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
  

    #person{
        display: block;
    }
    
    #hamhide{
    display: none;

    }

    #menu2,#person{
        background-color: #ffffff;
        border: solid 0.1px black;
        padding: 20px;
    }
    li#menu2 ,li#person {
         background-color:  #e2e2e2;
       
    }

    #black{
        color: black;

    }
    .nav-cart-count{
        color: #ffffff;
        background-color: black;
    }
        /* Navbar ends */
        
        /* banner section */

    .box{
        margin-left: 0px;
    }

    .frame,.buttonshop{
        text-align: center;
        width: 95%;
       }
    
       .women,.men,.heels{
       margin: 10px;
       }
   
  }

  @media (max-width: 600px) {

    /* banner section starts*/

    .banner {
        text-align: center;
    }

    .rain{
        width: 100%;        
    }
    .rain h1{
    font-size: 25px;
    }
    .button1{
        width: 90%;
    }
    .button2{
        margin-top: 10px;
        width: 90%;
        margin-left: 0;
    }

    /* Setion 2  */
    .frame,.buttonshop{
        text-align: center;
        width: 95%;
       }
    
       .women,.men,.heels{
       margin: 10px;
       }
    
  }

/* Media Query  Tablet */

  @media (max-width: 768px) {
    .box{
        margin-top: 20px;
        padding-top: 0px;
      
    }
    .banner {
        text-align: center;
    }

    .rain{
        width: 100%;        
    }
    .rain h1{
    font-size: 25px;
    }
    .button1{
        width: 90%;
    }
    .button2{
        margin-top: 10px;
        width: 90%;
        margin-left: 0;
    }

    /* Section 2 */

    .frame,.buttonshop{
        text-align: center;
        width: 95%;
       }
    
       .women,.men,.heels{
       margin: 10px;
       }
   
  }

/* Media Query  Medium Size */

  @media (max-width: 475px){

    .box{
        margin-top: 0px;
        padding-top: 0px;
    }
    .navbar a{
        width: fit-content;
        font-size: smaller;
        
       
       
        
       }
       .navbar-brand{
        width: 60px;
        margin-top: 20px;
        
        
       }

       span.navbar-toggler-icon{
        margin-top: -15px;
        margin-left: -6px;
        width: 16px;
        height: 15px;
        
    }
    button.navbar-toggler{
        margin-top: 10px;
        height: 22px;
        width: 30px;
      
        
    }

        /* Section 2 */

    .frame,.buttonshop{
        text-align: center;
        width: 95%;
       }
    
       .women,.men,.heels{
       margin: 10px;
       }
    

  }

  /* Media Query Small Size */

  @media (max-width: 320px){

   .box{
    margin-top: 0%;
    padding-top: 0%;
    

   
   }
   .navbar a{
    width: fit-content;
    font-size: smaller;
    
   
   
    
   }
   .navbar-brand{
    width: 60px;
    margin-top: 20px;
    
    
   }

   span.navbar-toggler-icon{
        margin-top: -15px;
        margin-left: -6px;
        width: 16px;
        height: 15px;
        
    }
    button.navbar-toggler{
        margin-top: 10px;
        height: 22px;
        width: 30px;
      
        
    }

    /* Section 2 */

   .frame,.buttonshop{
    text-align: center;
    width: 95%;
   }

   .women,.men,.heels{
   margin: 10px;
   }

  }