
/* Section 1 Navbar Starts  */

.navbar{
    background-color: hsl(188, 100%, 37%, .3);  
    padding: 25px 25px 25px 0px;
}
.navbar-brand{
    
    margin-right: 20px;
    margin-left: 25px;
    width: 120px;
    height: 40px;
    background-image: url(../../Assets/Brand-logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.nav-link{
    color: #ffff;
    padding: 12px;
    font-weight: 900;
}
.nav-cart{
    display: none;
    margin-right: 13px;
}
.nav-cart-count{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: -18px;
    border-radius : 25px;
    font-size: 10px;
    background-color: #ffffff;
    color: black;
}
.navbar-toggler{
    background-color: black;
}
.navbar-toggler-icon{
    background-color: #e2e2e2;
}

button{
    width: 60px;
}
#person{
    display: none;
}
/* Section 1 Navbar Ends */

@media (max-width: 990px) {
    /* Navbar starts */
        .nav-cart{
            display: block;
        }
        .navbar{
            background-color: #ffff;  
            
        }
    
        #person{
            display: block;
        }
        
        #hamhide{
        display: none;
    
        }
    
        #menu2,#person{
            background-color: #ffff;
            border: solid 0.1px black;
            padding: 20px;
        }
        li#menu2 ,li#person {
             background-color:  #e2e2e2;
            
             
          
        }
       
        #black{
            color: black;
    
        }
       
        .navbar-brand{
            
            margin-right: 20px;
            margin-left: 15px;
            width: 120px;
            height: 40px;
            background-image: url(../../Assets/Brand-logo-black.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
      
    
        #person{
            display: block;
        }
        
        #hamhide{
        display: none;
    
        }
    
        #menu2,#person{
            background-color: #ffffff;
            border: solid 0.1px black;
            padding: 20px;
        }
        li#menu2 ,li#person {
             background-color:  #e2e2e2;
           
    
        }
    
        
        #black{
            color: black;
    
        }
        .nav-cart-count{
            color: #ffffff;
            background-color: black;
        }

    }
            /* Navbar ends */