
.navbar{
    background-color: hsl(188, 100%, 37%, .3);  
}
.navbar-brand{
    
    margin-right: 20px;
    width: 120px;
    height: 40px;
    background-image: url(../Assets/Brand-logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar-nav .nav-link.active{
    color: #ffff;
}
/* .navbar-nav{
    padding: 0;

} */