
.navbar{
    background-color: hsl(188, 100%, 37%, .3);  
}
.navbar-brand{
    
    margin-right: 20px;
    margin-left: 25px;
    width: 120px;
    height: 40px;
    background-image: url(../Assets/Brand-logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar-nav{
    /* margin-right: 20px; */
}

.nav-link{
    color: #ffff;
    padding: 12px;
    font-weight: 900;
}
.nav-cart{
    display: none;
    margin-right: 13px;
}

button{
    width: 60px;
}
#person{
    display: none;
}



@media (max-width: 990px) {
    .nav-cart{
        display: block;
    }
    .navbar{
        background-color: #ffff;  
        
    }
    .navbar-brand{
        
        margin-right: 20px;
        margin-left: 15px;
        width: 120px;
        height: 40px;
        background-image: url(../Assets/Brand-logo-black.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
  

    #person{
        display: block;
    }
    
    #hamhide{
    display: none;

    }

    #menu2,#person{
        background-color: #ffff;
        border: solid 0.1px black;
        padding: 20px;
    }
    li#menu2,li#person {
         background-color: #e2e2e2
    }

    
    #black{
        color: black;

    }
    
  }